<div class="body">
    <h1>Inventory</h1>
    <button mat-raised-button class="add__item" (click)="openDialog(0)">Add Item<mat-icon>library_add</mat-icon></button>
    <div class="items">
      <div *ngFor="let item of itemList" class="item">
        <p>Nume: {{ item.name }}</p>
        <p>Descriere: {{ item.number }}</p>
        <p>Cantitate: {{ item.category }}</p>
        <div class="buttons">
          <button mat-raised-button class="delete" (click)="Delete(item.id)" >Delete</button>
          <button mat-raised-button class="edit" (click)="openDialog(item.id)" >Edit</button>
        </div>
      </div>
    </div>
</div>
