
    <div class="body" [formGroup]="form">
        <h1>Adaugare Item</h1>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Nume</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Nume">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Cantitate</mat-label>
                <input matInput type="text" formControlName="number" placeholder="Cantitate">
                <mat-icon matSuffix>equalizer</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Categorie</mat-label>
                <input matInput type="text" formControlName="category" placeholder="Categorie">
                <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
        </p>
        <button mat-raised-button (click)="saveItem()">
            <mat-icon matSuffix>add_circle</mat-icon>
            Save Item
        </button>

    </div>

